<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app='LunchCheck'>
  <!-- ng-app says that the scope of my angular app is everything below this point -->
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>

         <div class="form-group" >
           <!-- LunchCheckController is the what controls the functionality of everything below here  -->
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model='list'>
             <!-- ng-model is what angular stores on the $scope variable to ensure that when it is updated in the view, it is also updated in the view model/controller -->
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click='checkItems()'>Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           {{state}}
         </div>
   </div>

</body>
</html>
